.catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

@media (max-width: 760px) {
  .catalogo {
    flex-direction: column;
    align-items: center; 
  }

  .card {
    width: 100%;       
    max-width: 350px;  
  }
}